@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  body {
    @apply font-sans antialiased;
  }
}

@layer components {
  /* .btn-primary {
    @apply bg-navy-600 hover:bg-navy-700 text-white font-semibold py-2 px-6 rounded-lg transition-all duration-200;
  }

  .btn-secondary {
    @apply bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-6 rounded-lg transition-all duration-200;
  } */

  .card {
    @apply bg-white rounded-xl shadow-lg p-6 transition-all duration-200;
  }
  .thover{
    @apply  bg-green-500
  }
  .primary {
    @apply bg-white
  }
  .secondary {
    @apply text-[#2c3e50]

  }
    .accent {
    @apply bg-green-600

  }

    /* .primary {
    @apply bg-[#f7f7f7]
  }
  .secondary {
    @apply text-[#2c3e50]

  }
    .accent {
    @apply bg-[#f1c40f]

  } */
  
  
  
  .center{
    @apply justify-center items-center
  }
  
  .h1{
    @apply text-green-600
  }
}




